<a href="https://colab.research.google.com/github/Delariva666/Optativa-Porfesional/blob/main/Limpiar_datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Numpy
Cargamos la librerias pandas y numpy

In [1]:
import pandas as pd
import numpy as np

# crear un dataframe con datos sucios

In [2]:
df = pd.DataFrame({
    'A': [1, 2, np.nan, 4, 5],
    'B': [5, 6, 7, np.nan, 9],
    'C': ['a', 'b', 'c', 'd', 'e'],
    'D': ['foo', 'bar', 'foo', 'bar', 'foo']
})

print("DataFrame origial")
print(df)

DataFrame origial
     A    B  C    D
0  1.0  5.0  a  foo
1  2.0  6.0  b  bar
2  NaN  7.0  c  foo
3  4.0  NaN  d  bar
4  5.0  9.0  e  foo

# Limpiesa de datos de N/A

In [3]:
df_clean = df.dropna()
print("\nDataFrame sin nulas")
print(df_clean)

DataFrame sin nulas
     A    B  C    D
0  1.0  5.0  a  foo
1  2.0  6.0  b  bar
4  5.0  9.0  e  foo

# Rellenar valores nulos

In [4]:
df_filled = df.fillna(value={'A': df['A'].mean(), 'B': df['B'].median()}) # reempleza todos los nulos en la columna a con el promedio que es mean y en la columna b con la median que es la mediana
print("\nDataFrame con reemplezo de las nulas")
print(df_filled)

DataFrame con reemplezo de las nulas
     A    B  C    D
0  1.0  5.0  a  foo
1  2.0  6.0  b  bar
2  3.0  7.0  c  foo
3  4.0  6.5  d  bar
4  5.0  9.0  e  foo

# eliminacion de duplicados

In [5]:
df_no_duplicados = df.drop_duplicates(subset=['D'])
print("\nDataFrame sin duplicados en la columna D")
print(df_no_duplicados)

DataFrame sin duplicados en la columna D
     A    B  C    D
0  1.0  5.0  a  foo
1  2.0  6.0  b  bar

# Renombrar columnas

In [6]:
df_rename = df.rename(columns={'A': 'Alpha', 'B': 'Beta', 'C': 'Charlie', 'D': 'Delta'})
print("\nDataFrame con columnas renombradas")
print(df_rename)

DataFrame con columnas renombradas
   Alpha  Beta Charlie Delta
0    1.0   5.0       a   foo
1    2.0   6.0       b   bar
2    NaN   7.0       c   foo
3    4.0   NaN       d   bar
4    5.0   9.0       e   foo