<a href="https://colab.research.google.com/github/Delariva666/Optativa-Porfesional/blob/main/Operaciones_basicas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



---

Operaciones basicas

In [1]:
import pandas as pd

In [3]:
df = pd.DataFrame({
    'Nombre': ['Ana', 'Juan', 'Maria', 'carlos', 'sofia'],
    'Edad': [25,30,22,28,35],
    'Ciudad': ['Madrid', 'Barcelona', 'Madrid', 'Valencia', 'Barcelona'],
    'Puntuacion': [85, 92, 78, 95, 88]
})

print("DataFrame origial")
print(df)

DataFrame origial
   Nombre  Edad     Ciudad  Puntuacion
0     Ana    25     Madrid          85
1    Juan    30  Barcelona          92
2   Maria    22     Madrid          78
3  carlos    28   Valencia          95
4   sofia    35  Barcelona          88

# Filtrado

In [4]:
mayores_25 = df[df['Edad'] >  25] # indica que quiere los mayores de 25
print("\n Personas mayorea de 25 años")
print(mayores_25)

 Personas mayorea de 25 años
   Nombre  Edad     Ciudad  Puntuacion
1    Juan    30  Barcelona          92
3  carlos    28   Valencia          95
4   sofia    35  Barcelona          88

# Agrupacion y agregacion

In [8]:
resultado =  df[df['Edad'] >  25].groupby('Ciudad')['Puntuacion'].max()
print("\nMaxima puntuacion  por ciudad para personas mayores de 25")
print(resultado)

Maxima puntuacion  por ciudad para personas mayores de 25
Ciudad
Barcelona    92
Valencia     95
Name: Puntuacion, dtype: int64

#