<a href="https://colab.research.google.com/github/Delariva666/Optativa-Porfesional/blob/main/Uniones.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Ejercicio 6

# Tipos de Uniones

In [1]:
import pandas as pd

In [3]:
df1 = pd.DataFrame({
    'ID': [1,2,3,4],
    'Nombre': ['Ana', 'Juan', 'Maria', 'Carlos'],
    'Dpartamento': ['Ventas', 'IT', 'Marketing', 'RH']
})

df2 = pd.DataFrame({
    'ID': [3,4,5,6],
    'Salario': [50000, 60000, 55000, 65000]
})

print(df1)
print(df2)

   ID  Nombre Dpartamento
0   1     Ana      Ventas
1   2    Juan          IT
2   3   Maria   Marketing
3   4  Carlos          RH
   ID  Salario
0   3    50000
1   4    60000
2   5    55000
3   6    65000

# Funcion Inner

In [5]:
inner_merge = pd.merge(df1, df2, on='ID', how='inner') # junta las tablas con el id que concidan
print("\Funcion inner")
print(inner_merge)

\Funcion inner
   ID  Nombre Dpartamento  Salario
0   3   Maria   Marketing    50000
1   4  Carlos          RH    60000

# Funsion outer

In [8]:
outer_merge = pd.merge(df1, df2, on='ID', how='outer')# junta todos pero los que no coicidan les pone NA
print("\Funcion inner")
print(inner_merge)

\Funcion inner
   ID  Nombre Dpartamento  Salario
0   3   Maria   Marketing    50000
1   4  Carlos          RH    60000

# funcion left

In [9]:
left_merge = pd.merge(df1, df2, on='ID', how='left')
print("\Funcion inner")
print(left_merge)

\Funcion inner
   ID  Nombre Dpartamento  Salario
0   1     Ana      Ventas      NaN
1   2    Juan          IT      NaN
2   3   Maria   Marketing  50000.0
3   4  Carlos          RH  60000.0

Funcion rigth

In [14]:
rigth_merge = pd.merge(df2, df1, on='ID', how='right')
print("\Funcion inner")
print(rigth_merge)

\Funcion inner
   ID  Salario  Nombre Dpartamento
0   1      NaN     Ana      Ventas
1   2      NaN    Juan          IT
2   3  50000.0   Maria   Marketing
3   4  60000.0  Carlos          RH

# Concatenacion

In [13]:
#concatenacion
df3 = pd.DataFrame({
    'ID': [7,8],
    'Nombre': ['sofia', 'Pedro'],
    'Dpartamento': ['Finanzas', 'Ventas']
})

concatenate1 = pd.concat([df1, df2, df3])
print("\concatenacion de dataframes")
print(concatenate1)

\concatenacion de dataframes
   ID  Nombre Dpartamento  Salario
0   1     Ana      Ventas      NaN
1   2    Juan          IT      NaN
2   3   Maria   Marketing      NaN
3   4  Carlos          RH      NaN
0   3     NaN         NaN  50000.0
1   4     NaN         NaN  60000.0
2   5     NaN         NaN  55000.0
3   6     NaN         NaN  65000.0
0   7   sofia    Finanzas      NaN
1   8   Pedro      Ventas      NaN