<a href="https://colab.research.google.com/github/Delariva666/Optativa-Porfesional/blob/main/Untitled5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Ejercicio

Teoria:
Explicacion de series y Data Frame  diferencias y usos de cada estructura

In [3]:
import pandas as pd
import numpy as np

CREAR UNA SERIE

In [5]:
s = pd.Series([1, 2, 3, np.nan, 6, 8])
print("Serie: ")
print(s)

Serie:
0    1.0
1    2.0
2    3.0
3    NaN
4    6.0
5    8.0
dtype: float64

DATA FRAME

In [11]:
df = pd.DataFrame({
'A': [1, 2, 3, 4],
'B' : pd. Timestamp ('20230101'),
'C': pd. Series(1, index=list (range(4)), dtype='float32'),
'D': np. array ([3] * 4, dtype='int32'),
'E': pd. Categorical(["test", "train", "test", "train"]),
'F':'foo'
})

print("\nDataFrame:")
print(df)

DataFrame:
   A          B    C  D      E    F
0  1 2023-01-01  1.0  3   test  foo
1  2 2023-01-01  1.0  3  train  foo
2  3 2023-01-01  1.0  3   test  foo
3  4 2023-01-01  1.0  3  train  foo

In [12]:
print("\nTipos de datos:")
print(df.dtypes)
print("\nPriemera 2 filas:")
print(df.head(2))
print("\nUltimas 2 filas: ")
print(df.tail(2))

Tipos de datos:
A            int64
B    datetime64[s]
C          float32
D            int32
E         category
F           object
dtype: object

Priemera 2 filas:
   A          B    C  D      E    F
0  1 2023-01-01  1.0  3   test  foo
1  2 2023-01-01  1.0  3  train  foo

Ultimas 2 filas:
   A          B    C  D      E    F
2  3 2023-01-01  1.0  3   test  foo
3  4 2023-01-01  1.0  3  train  foo